body {
    font-family: Arial, sans-serif;
    background-image:url(/img6.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 350px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.5); /* white color with 50% transparency */
    padding: 30px 45px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #514949;
}

label {
    font-size: 14px;
    color: #060404;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4e5961;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}
.signup-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-text a {
  color: rgb(72, 91, 100);
  text-decoration: none;
}